@import "tailwindcss";
@import "./scales.css";
@import "./theme.css";
@import "tw-animate-css";
@import "@fontsource-variable/inter";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
	--font-sans: "Inter Variable", sans-serif;
}

* {
	--tw-ring-offset-color: var(--background-color-base-1);
}

html {
	scrollbar-gutter: stable;
}

body {
	background-color: var(--background-color-base-1);
	color: var(--text-color-primary);
}

::selection {
	background-color: var(--background-color-inverse);
	color: var(--text-color-inverse);
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--color-gray-7) transparent;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
